<!DOCTYPE html>
    <html>

        <head>

          <link rel="stylesheet" href="static/css/index.css">
          <link rel="script.js" href="static/js/index.js">

        </head>




        <body>
                                                              <h1> About Us </h1>
            <main>
              <p> Here at Simple Budget, our team is dedicated to allowing people to be the best they can be
                 while keeping their finances in check. We believe that the success to a stress free life <br>is
                 to always maintain a healthy budget. Still, we know how frustrating it can be to manage your
                 money with all demanding aspects of life. That's why we at simple Budget are committed to
                 helping you keep sane by doing all the budgeting work for you, because that's what we do best.
                Just create an account <a href='logInSignUpPage'>right here</a> with us today and we'll handle
                all your problems. <p>
            </main>
        </body>











    </html>
