<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <h1>Tips For Budgeting</h1>
        <ol>
          <h2><li>Understand Your Goals</li></h2>
          <p>Being efficient with spending on priorities/necessitis and making sure to preent dficits</p>
          <h2><li>Define Category</li></h2>
          <p>Figure out where most of your spending is going too and decide if necessary, to make changes</p>
          <h2><li>SAVE!SAVE!SAVE!</li></h2>
          <p>simply save. Waste less than you make</p>
          <h2><li>50/20/30</li><h2>
          <img src="https://i0.wp.com/www.debtconsolidation.com/media/how-tyler-perry-went-from-homeless-to-a-net-worth-of-2-6.png?w=600">
          <h2><li>USE Budgeting tools and apps</li></h2>
          <p></p>
          <h2><li>Understand why you are budgeting</li></h2>
          <p></p>
        </ol>
    </body>
</html>
