<!DOCTYPE html>

<html>

      <head>

          <link rel = "stylesheet" href = "/static/css/results.css">
          <link rel  = "script.js" href = "/static/JS/index.js">
      </head>


      <body>

          <h1> Making Your Life Easy One Step at a Time! </h1>

          <form method="post" action="/budget">

            <h2> Please Enter the Following: </h2>

                      <h3> Income </h3>
              <h4 name="Total Net Income">{{StoreIncome}} </h4>

              <h3> Housing and Living Expenses </h3>
              <h4 name="Mortage/Rent">{{StoreMortgage}}</h4>
              <h4 name="Homeowners Insurance">{{StoreHomeIns}}</h4>
              <h4 name="Property Taxes">{{StoreTax}}</h4>
              <h4 name="Utilities">{{StoreUtil}}</h4>
              <h4 name="Groceries">{{StoreGroc}}</h4>
              <h4 name="Child Care">{{StoreChildCare}}</h4>
              <h4 name="Other Expenses">{{StoreOth_1}}</h4>

                  <h4 name="Total_1">{{Tot_1}}</h4>

                          <h3> Health </h3>
              <h4 name="Health Insurance">{{StoreHealthIns}}</h4>
              <h4 name="Medical/Dental Expenses">{{StoreMed}}</h4>
              <h4 name="Other Expenses">{{StoreOth_2}}</h4>

                  <h4 name="Total_2">{{Tot_2}}</h4>

                      <h3> Transportation </h3>
              <h4 name="Vehicle Payment">{{StoreVehPay}}</h4>
              <h4 name="Public Transportation">{{StorePublTrans}}</h4>
              <h4 name="Gas">{{StoreGas}}</h4>
              <h4 name="Auto Insurance">{{StoreAutoIns}}</h4>
              <h4 name="Other Expenses">{{StoreOth_3}}</h4>

                  <h4 name="Total_3">{{Tot_3}}</h4>

                      <h3> Education </h3>
              <h4 name="Tuition/Fees">{{StoreTut}}</h4>
              <h4 name="Textbooks">{{StoreText}}</h4>
              <h4 name="Other Expenses">{{StoreOth_4}}</h4>

                  <h4 name="Total_4">{{Tot_4}}</h4>


                    <h3> Loans and Credit Cards </h3>
              <h4 name="Student Loans">{{StoreStuLoans}}</h4>
              <h4 name="Credit Card Payment">{{StoreCreditPay}}</h4>
              <h4 name="Other Expenses">{{StoreOth_5}}</h4>

                  <h4 name="Total_5">{{Tot_5}}</h4>

                    <h3> Savings/Investments </h3>
              <h4 name="Savings">{{StoreSav}}</h4>
              <h4 name="Investments">{{StoreInv}}</h4>
              <h4 name="Other Expenses">{{StoreOth_6}}</h4>

                  <h4 name="Total_6">{{Tot_6}}</h4>

                      <h3> Miscellaneous </h3>
              <h4 name="Entertainment">{{StoreEnt}}</h4>
              <h4 name="Travel">{{StoreTrav}}</h4>
              <h4 name="Clothing">{{StoreCloth}}</h4>
              <h4 name="Personal Care">{{StorePerCare}}</h4>
              <h4 name="Donations">{{StoreDon}}</h4>
              <h4 name="Gifts">{{StoreGifts}}</h4>
              <h4 name="Other Expenses">{{StoreOth_7}}</h4>

                <h4 name="Total_7">{{Tot_7}}</h4>

            </form>

        </body>




  </html>
