<!DOCTYPE html>

<html>

      <head>

          <link rel = "stylesheet" href = "/static/css/results.css">
          <link rel  = "script.js" href = "/static/JS/index.js">
      </head>


      <body>

          <h1> Making Your Life Easy One Step at a Time! </h1>

          <form method="post" action="/budget">

            <h2> Please Enter the Following: </h2>

                      <h3> Income </h3>
              <input type="text" name="Total Net Income"

              <h3> Housing and Living Expenses </h3>
              <input type="text" name="Mortage/Rent">
              <input type="text" name="Homeowners Insurance">
              <input type="text" name="Property Taxes">
              <input type="text" name="Utilities">
              <input type="text" name="Groceries">
              <input type="text" name="Child Care">
              <input type="text" name="Other Expenses">

              <input   type="text" name="Total_1">

                      <h3> Health </h3>
              <input type="text" name="Health Insurance">
              <input type="text" name="Medical/Dental Expenses">
              <input type="text" name="Other Expenses">

                <input type="text" name="Total_2">

                    <h3> Transportation </h3>
              <input type="text" name="Vehicle Payment">
              <input type="text" name="Public Transportation">
              <input type="text" name="Gas">
              <input type="text" name="Auto Insurance">
              <input type="text" name="Other Expenses">

                  <input type="text" name="Total_3">

                      <h3> Education </h3>
              <input type="text" name="Tuition/Fees"
              <input type="text" name="Textbooks"
              <input type="text" name="Other Expenses"

                  <input type="text" name="Total_4">


                <h3> Loans and Credit Cards </h3>
              <input type="text" name="Student Loans">
              <input type="text" name="Credit Card Payment">
              <input type="text" name="Other Expenses">

                  <input type="text" name="Total_5">

                <h3> Savings/Investments </h3>
                <input type="text" name="Savings">
                <input type="text" name="Investments">
                <input type="text" name="Other Expenses">

                  <input type="text" name="Total_6"

                    <h3> Miscellaneous </h3>
                <input type="text" name="Entertainment">
                <input type="text" name="Travel">
                <input type="text" name="Clothing">
                <input type="text" name="Personal Care">
                <input type="text" name="Donations">
                <input type="text" name="Gifts">
                <input type="text" name="Other Expenses">

                <input type="text" name="Total_7">

            </form>

        </body>




  </html>
