<!DOCTYPE html>

<html>

      <head>

          <link rel = "stylesheet" href = "/static/css/results.css">
          <link rel  = "script.js" href = "/static/JS/index.js">
      </head>


      <body>

          <h1> Making Your Life Easy One Step at a Time! </h1>

          <form method="post" action="/budget">

            <h2> Please Enter the Following: </h2>

            <div id = "1">
                      <h3> Income </h3>
              <input type="text" name="Total Net Income">
            </div>

            <div id = "2">
              <h3> Housing and Living Expenses </h3>
              What are your rent/mortage charges?
              <input type="text" name="Mortage/Rent">
              <br>
              <br>
              How much do you pay for Homeowners Insurance?
              <input type="text" name="Homeowners Insurance">
              <br>
              <br>
              How much do you pay for Property Taxes monthly?
              <input type="text" name="Property Taxes">
              <br>
              <br>
              How much do you pay for utilities?
              <input type="text" name="Utilities">
              <br>
              <br>
              How much do you pay for Groceries weekly?
              <input type="text" name="Groceries">
              <br>
              <br>
              How much do you spend on your kids/pets weekly?
              <input type="text" name="Child Care">
              <br>
              <br>
              Other Expenses:
              <input type="text" name="Other Expenses">
              <br>
              <br>
              Total spending amount:
              <input   type="text" name="Total_1">
            </div>
            <div id = "3">
                      <h3> Medical Care </h3>
              How much do you pay for Health Insurance?
              <input type="text" name="Health Insurance">
              <br>
              <br>

              <input type="text" name="Medical/Dental Expenses">
              <input type="text" name="Other Expenses">

                <input type="text" name="Total_2">
            </div>
            <div id = "4">
                    <h3> Transportation </h3>
                  How much is your car payment?
              <input type="text" name="Vehicle Payment">
              <br>
              <br>
              How much do you spend on Public Transportation?
              <input type="text" name="Public Transportation">
              <br>
              <br>
              How much do you pay for gas?
              <input type="text" name="Gas">
              <br>
              <br>
              How much do you pay for Auto Insurance?
              <input type="text" name="Auto Insurance">
              <br>
              <br>
              Other Expenses:
              <input type="text" name="Other Expenses">
              <br>
              <br>
              Total spending amount:

                  <input type="text" name="Total_3">
                </div>
                <div id = "5">

                      <h3> Education </h3>
                  How much do you spend on Tuition?
              <input type="text" name="Tuition/Fees">
              <br>
              <br>
              What are your text book fees?
              <input type="text" name="Textbooks">
              <br>
              <br>
              Other Expenses:
              <input type="text" name="Other Expenses">
              <br>
              <br>
              Total spending amount:

                  <input type="text" name="Total_4">
            </div>

                <h3> Loans and Credit Cards </h3>
                Student Loans:
              <input type="text" name="Student_Loans">
              <br>
              <br>
              Credit Card Payment:
              <input type="text" name="Credit_Card Payment">
              <br>
              <br>
              Other Expenses:
              <input type="text" name="Other_Expenses">
              <br>
              <br>
              Total spending amount:

                  <input type="text" name="Total_5">

                <h3> Savings/Investments </h3>
                How much money is in your savings?
                <input type="text" name="Savings">
                How much are you investing?
                <input type="text" name="Investments">
                other Expenses:
                <input type="text" name="Other Expenses">
                <br>

                  <input type="text" name="Total_6"

                    <h3> Miscellaneous </h3>
                    How much do you spend on Entertainment?(Netflix,Spotify,HBO etc)
                <input type="text" name="Entertainment">

                <input type="text" name="Travel">
                <input type="text" name="Clothing">
                <input type="text" name="Personal Care">
                <input type="text" name="Donations">
                <input type="text" name="Gifts">
                <input type="text" name="Other Expenses">

                <input type="text" name="Total_7">

            </form>

        </body>




  </html>
