<!DOCTYPE html>

<html>

      <head>
        <div class="header">
          <a href="index.html" class="logo">SimpleBudget</a>
          <div class="header-right">
            <!--<a class="active" href="#home"></a>-->
            <a href="" class="">BudgetTips</a>
            <a href="" class="">AboutUs</a>
          </div>
        </div>
          <link rel = "stylesheet" href = "/static/css/results.css">
      </head>


      <body>

          <h1> Making Your Life Easy One Step at a Time! </h1>

          <form method="post" action="/budget">

            <h2> Please Enter the Following: </h2>

            <div id = 1 >
                      <h3> Income </h3>
                      Whats your yearly income?
              <input type="text" name="Total Net Income">
            </div>

            <div id = 2>
              <h3> Housing and Living Expenses </h3>
              What are your rent/mortage charges?
              <input type="text" name="Mortage/Rent">
              <br>
              <br>
              How much do you pay for Homeowners Insurance?
              <input type="text" name="Homeowners Insurance">
              <br>
              <br>
              How much do you pay for Property Taxes monthly?
              <input type="text" name="Property Taxes">
              <br>
              <br>
              How much do you pay for utilities?
              <input type="text" name="Utilities">
              <br>
              <br>
              How much do you pay for Groceries weekly?
              <input type="text" name="Groceries">
              <br>
              <br>
              How much do you spend on your kids/pets weekly?
              <input type="text" name="Child Care">
              <br>
              <br>
              Other Expenses:
              <input type="text" name="Other Expenses">
              <br>
              <br>
              Total spending amount:
              <div  id="Total_1"></div>
              <input id="houseSubmit" type="button" value="submit"></input>
            </div>
            <div id = 3>
                      <h3> Medical Care </h3>
              How much do you pay for Health Insurance?
              <input type="text" name="Health Insurance">
              <br>
              <br>
                How much do you spend on medication?
              <input type="text" name="Medical/Dental Expenses">
              <br>
              <br>
              Other Expenses:
              <input type="text" name="Other Expenses">

            </div>
            <div id = 4>
                    <h3> Transportation </h3>
                  How much is your car payment?
              <input type="text" name="Vehicle Payment">
              <br>
              <br>
              How much do you spend on Public Transportation?
              <input type="text" name="Public Transportation">
              <br>
              <br>
              How much do you pay for gas?
              <input type="text" name="Gas">
              <br>
              <br>
              How much do you pay for Auto Insurance?
              <input type="text" name="Auto Insurance">
              <br>
              <br>
              Other Expenses:
              <input type="text" name="Other Expenses">
            </div>

            <div id = 5>
                      <h3> Education </h3>
                  How much do you spend on Tuition?
              <input type="text" name="Tuition/Fees">
              <br>
              <br>
              What are your text book fees?
              <input type="text" name="Textbooks">
              <br>
              <br>
              Other Expenses:
              <input type="text" name="Other Expenses">
            </div>

            <div id = 6>
                <h3> Loans and Credit Cards </h3>
                Student Loans:
              <input type="text" name="Student_Loans">
              <br>
              <br>
              Credit Card Payment:
              <input type="text" name="Credit_Card Payment">
              <br>
              <br>
              Other Expenses:
              <input type="text" name="Other_Expenses">
            </div>

            <div id = 7>
                <h3> Savings/Investments </h3>
                How much money is in your savings?
                <input type="text" name="Savings">
                <br>
                <br>
                How much are you investing?
                <input type="text" name="Investments">
                <br>
                <br>
                other Expenses:
                <input type="text" name="Other Expenses">
              </div>

              <div id = 8>
                    <h3> Miscellaneous </h3>
                  How much do you spend on Entertainment?(Netflix,Spotify,HBO etc)
                <input type="text" name="Entertainment">
                <br>
                <br>
                How much do you spend on traveling?
                <input type="text" name="Travel">
                <br>
                <br>
                How much do you spend on clothing?
                <input type="text" name="Clothing">
                <br>
                <br>
                How much do you spend on your personal care?
                <input type="text" name="Personal Care">
                <br>
                <br>
                How much money do you use for Donations?
                <input type="text" name="Donations">
                <br>
                <br>
                How much do you spend on gifts?
                <input type="text" name="Gifts">
                <br>
                <br>
                Other Expenses?
                <input type="text" name="Other Expenses">
              </div>

              <div id = 9>
                    <h3> Summary</h3>
                    Income:
                  <input type = "text" name = "Total Net Income">
                  <br>
                  Total Expenses:
                  <input type = "text" name = "Total Expenses">
                  <br>
                  Surplus:
                  <input type = "text" name = "Surplus">
              </div>
            </form>
            <script src="/static/js/index.js"></script>
        </body>




  </html>
