<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/index.js"></script>"
    <title></title>
  </head>
  <body>
<!-- Website header -->
    <div class="header">
      <a href="#default" class="logo">SimpleBudget</a>
      <div class="header-right">
        <!--<a class="active" href="#home"></a>-->
        <a href="" class="">BudgetTips</a>
        <a href="" class="">AboutUs</a>
        <a href="/logInPage">Login</a>
        <a href="/signUpPage">SignUp</a>
      </div>
    </div>
<!-- This is the end of the website header -->
  <form method="post" action="/new_post">
    Please enter post Title:
      <input type="text" name="formTitle">
<br>
    Please enter post Message:
      <input type="text" name="formMessage">
<br>
    Please enter post Name:
      <input type="text" name="formName">
<br>
    <input type="submit" value="clicky">
  </form>
  </body>
</html>
