<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/index.js"></script>"
    <title></title>
  </head>
  <body>
<!-- Website header -->
    <div class="header">
      <a href="index.html" class="logo">SimpleBudget</a>
      <div class="header-right">
        <!--<a class="active" href="#home"></a>-->
        <a href="" class="">BudgetTips</a>
        <a href="" class="">AboutUs</a>
        <a href="logInPage.html">Login</a>
        <a href="SignUpPage.html">SignUp</a>
      </div>
    </div>
<!-- This is the end of the website header -->
  <form method="post" action="/signUpPage">
    Please enter Username:
      <input type="text" name="username">
<br>
    Please enter Password:
      <input type="text" name="password">
<br>
    <input type="submit" value="clicky">
  </form>
  </body>
</html>
